<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!--   Example: <add key="settingName" value="settingValue"/> -->
	<add key="provider" value="OleDb1.1" />
	<add 
		key="connectionString" 
		value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\projects\ibatis\asf\trunk\cs\tutorial\WebView\Resources\iBatisTutorial.mdb" />
	<add key="root" value="./" />		
</settings>
