<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="iBATIS">
			<section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
		</sectionGroup>	
	</configSections>

	<iBATIS>
		<logging>
			<logFactoryAdapter type="IBatisNet.Common.Logging.Impl.ConsoleOutLoggerFA, IBatisNet.Common">
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="level" value="ALL" />
				<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:SSS" />
			</logFactoryAdapter>	
 <!--
       <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="inline" />
      </logFactoryAdapter>
-->
<!--     
     <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.NoOpLoggerFA, IBatisNet.Common" />
-->      
		</logging>
	</iBATIS>
</configuration>