<?xml version="1.0" encoding="utf-8"?>
<daoConfig 
	xmlns="http://ibatis.apache.org/dataAccess" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<providers resource="../../../Files/providers.config"/>

	<context id="SqlMapDao" default="true">

		<!-- Database connection information -->
		<database>
			<provider name="OleDb2.0"/>
			<dataSource name="Blogs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Blogs.mdb"/>
		</database>

		<daoSessionHandler id="SqlMap">
			<property name="resource" value="sqlMap.config"/>
		</daoSessionHandler>
		
		<daoFactory>
			<dao
				interface="Rels.Blogs.DataAccessObjects.IAuthorDao, Rels.Blogs.DataAccessObjects" 
				implementation="Rels.Blogs.DataAccessObjects.AuthorDao, Rels.Blogs.DataAccessObjects" />
			<dao
				interface="Rels.Blogs.DataAccessObjects.IBlogDao, Rels.Blogs.DataAccessObjects" 
				implementation="Rels.Blogs.DataAccessObjects.BlogDao, Rels.Blogs.DataAccessObjects" />
			<dao
				interface="Rels.Blogs.DataAccessObjects.IPostDao, Rels.Blogs.DataAccessObjects" 
				implementation="Rels.Blogs.DataAccessObjects.PostDao, Rels.Blogs.DataAccessObjects" />
		</daoFactory>

	</context>	
</daoConfig>