<?xml version="1.0" encoding="UTF-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <properties resource="properties.config"/>
   
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
	
	<database>	
		<provider name="${provider}"/>
		<dataSource name="iBatisTutorial"  connectionString="${connectionString}"/>
	</database>

	<sqlMaps>
		<sqlMap resource="Resources/PersonHelper.xml"/>
	</sqlMaps>

</sqlMapConfig>
