<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!--   Example: <add key="settingName" value="settingValue"/> -->
	<add key="userid" value="npetshop" />
	<add key="password" value="ibatis" />
	<add key="database" value="npetshop" />
	<add key="datasource" value="(local)\NetSDK" />
</settings>