<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="SqlMapConfig.xsd">
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
			
	<!-- ==== SqlClient configuration =========	-->
	<!-- Optional ( default ) -->
	<!-- Rem : If used with a Dao it will be ignored 
	<database>
		<provider name="sqlServer1.1"/>
		<dataSource name="NPetshop" connectionString="xxxxx"/>
	</database>-->

	<sqlMaps>
		<!--<sqlMap url="E:\Projet\NPetshop\Source\NPetshop.Web\Maps\Category.xml"/> ok-->
		<sqlMap resource="${path}/Maps/Category.xml"/>
		<sqlMap resource="${path}//Maps/Product.xml"/>
		<sqlMap resource="${path}//Maps/Item.xml"/>
		<sqlMap resource="${path}//Maps/Account.xml"/>
		<sqlMap resource="${path}//Maps/Sequence.xml"/>
		<sqlMap resource="${path}//Maps/LineItem.xml"/>
		<sqlMap resource="${path}//Maps/Order.xml"/>
	</sqlMaps>
	
</sqlMapConfig>
