<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="false"/>
		<setting validateSqlMap="false"/>
		<setting useReflectionOptimizer="false"/>
		<setting preserveWhitespace="false"/>
	</settings>	
	<providers uri="file://providers.config"/>	
	<database>
		<provider name="SQLite3"/>
		<dataSource name="ibatisnet.sqlmap" connectionString="Data Source=ibatisnet.sqlite;Version=3;"/>
	</database>  
	<alias>
		<typeAlias alias="Account" type="MyBatis.DataMapper.Sqlite.Test.Domain.Account, MyBatis.DataMapper.Sqlite.Test"/>
    <typeAlias alias="OuiNonBool" type="MyBatis.DataMapper.Sqlite.Test.Domain.OuiNonBoolTypeHandlerCallback, MyBatis.DataMapper.Sqlite.Test"/>
  </alias> 
  <sqlMaps>
		<sqlMap uri="file://../../Maps/Account.xml"/>
    <sqlMap uri="file://../../Maps/DynamicAccount.xml"/>
    <sqlMap uri="file://../../Maps/Order.xml"/>
    <sqlMap uri="file://../../Maps/Category.xml"/>
    <sqlMap uri="file://../../Maps/Complex.xml"/>
    <sqlMap uri="file://../../Maps/LineItem.xml"/>
    <sqlMap uri="file://../../Maps/Enumeration.xml"/>
    <sqlMap uri="file://../../Maps/Other.xml"/>
    <sqlMap uri="file://../../Maps/ParameterClass.xml"/>
    <sqlMap uri="file://../../Maps/ResultClass.xml"/>
    <sqlMap uri="file://../../Maps/NewsPaper.xml"/>
    <sqlMap uri="file://../../Maps/Document.xml"/>
    <sqlMap uri="file://../../Maps/EmbedParameter.xml"/>
    <sqlMap uri="file://../../Maps/Nullable.xml"/>
    <sqlMap uri="file://../../Maps/Simple.xml"/>
    <sqlMap uri="file://../../Maps/ConstructorInjection.xml"/>
    <sqlMap uri="file://../../Maps/GroupByMapping.xml"/>
    <sqlMap uri="file://../../Maps/Coupons.xml"/>
    <sqlMap uri="file://../../Maps/ParentChild1.xml"/>
    <sqlMap uri="file://../../Maps/ParentChild2.xml"/>
    <sqlMap uri="file://../../Maps/Iterate.xml"/>
  </sqlMaps>
</sqlMapConfig>
