<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="DaoConfig.xsd">
		
	<!-- Optional if resource -->
	<providers embedded="providers.config, NPetshop.Persistence"/>

	<context id="SqlMapDao" default="true">
   		<properties resource="properties.config"/>

		<!-- ==== Sql Server : SqlClient configuration =========-->	
		<database>
			<provider name="sqlServer1.1"/>
			<dataSource name="NPetshop" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};"/>
		</database> 
		
		<!-- ==== MySql : ByteFx configuration (ok)========= 
		<database>	
			<provider name="ByteFx" />
			<dataSource name="MySql" connectionString="Data Source=localhost;Database=npetshop;User ID=npetshop;Password=ibatis"/>
		</database>	-->

		<!-- ==== Access : OleDb configuration ========= 		
		<database>
			<provider name="OleDb1.1"/>		 			 
			<dataSource name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=H:\iBATIS\trunk\cs\npetshop2\NPetshop.Web\npetshop.mdb"/>
		</database>	-->
		
			
		<!-- ==== MySql : MySQLAB1Beta configuration (too buggy in beta 1)========= 
		<database>	
			<provider name="MySQLAB1Beta" />
			<dataSource name="MySql" connectionString="Data Source=localhost;Database=npetshop;User ID=npetshop;Password=ibatis"/>
		</database>	-->
		
		<daoSessionHandler id="SqlMap">
			<property name="resource" value="${path}/sqlMap.config"/>
		</daoSessionHandler>	
		
		<daoFactory>
			<dao interface="NPetshop.Persistence.Interfaces.Catalog.ICategoryDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Catalog.CategorySqlMapDao, NPetshop.Persistence"/>
			<dao interface="NPetshop.Persistence.Interfaces.Catalog.IProductDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Catalog.ProductSqlMapDao, NPetshop.Persistence"/>
			<dao interface="NPetshop.Persistence.Interfaces.Catalog.IItemDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Catalog.ItemSqlMapDao, NPetshop.Persistence"/>
			<dao interface="NPetshop.Persistence.Interfaces.Accounts.IAccountDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Accounts.AccountSqlMapDao, NPetshop.Persistence"/>			
			<dao interface="NPetshop.Persistence.Interfaces.ISequenceDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.SequenceSqlMapDao, NPetshop.Persistence"/>			
			<dao interface="NPetshop.Persistence.Interfaces.Billing.IOrderDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Billing.OrderSqlMapDao, NPetshop.Persistence"/>
		</daoFactory>
	</context>
	
</daoConfig>
