<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="SqlMapConfig.xsd">
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
			
	<!-- ==== SqlClient configuration =========	-->
	<!-- Optional ( default ) -->
	<!-- Rem : If used with a Dao it will be ignored -->
	<database>
		<provider name="sqlServer1.1"/>
		<dataSource name="NPetshop" connectionString="data source=(local)\NetSDK;database=IBatisNet;user id=IBatisNet;password=test;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
	</database>

	<sqlMaps>
		<!--<sqlMap url="E:\Projet\NPetshop\Source\NPetshop.Web\Maps\Category.xml"/> ok-->
		<sqlMap resource="Maps/Category.xml"/>
		<sqlMap resource="Maps/Product.xml"/>
		<sqlMap resource="Maps/Item.xml"/>
		<sqlMap resource="Maps/Account.xml"/>
		<sqlMap resource="Maps/Sequence.xml"/>
		<sqlMap resource="Maps/LineItem.xml"/>
		<sqlMap resource="Maps/Order.xml"/>
	</sqlMaps>
	
</sqlMapConfig>
